# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Model and temporary data
retail_pulse_model.joblib
training_metrics.json
